<!-- BEGIN_INCLUDE(excel:readexcel) -->
    <excel:readexcel fileName="#[message.payload['fileName']]" sheetName="#[message.payload['sheetName']]" ignoreHeader="true" />
<!-- END_INCLUDE(excel:readexcel) -->